root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
quote_type = single

[*.md]
trim_trailing_whitespace = false
indent_size=2

[{*.yml,*.yaml}]
indent_size=2

[*.json]
indent_size=2

[*.xml]
indent_size=2

[{*.js, *.ts}]
indent_size=2

[{*.sht,*.html,*.shtm,*.shtml,*.htm}]
indent_size=2

[*.php]
max_line_length = 120
indent_brace_style = K&R
