// .p-circleUpdate {}

.p-circleUpdate-circleThumbnail {
    width: 200px;
    height: 200px;
    position: relative;
    background-image: url(/images/blank.png);
    background-position: center middle;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}
