.p-memberDetail {
  position: relative;
}

.p-memberDetail-memberThumbnail {
  width: 200px;
  height: 200px;
  position: relative;
  background-image: url(/images/blank.png);
  background-position: center middle;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}

.p-memberDetail__editLink {
  position: absolute;
  top: 3rem;
  right: 0;
  line-height: 2.5rem; // same as H1 tag
}
